
@{
    ViewBag.Title = "checkout";
}

<h2>checkout</h2>

<div class="alert alert-success">
    <strong>Success!</strong> Your Order has been successfully. places Click here to Shop More @Html.ActionLink("Click", "Index", "Home")
</div>

